#header2-7 P {
  font-size: 25px;
}
#header2-7 H1 {
  font-size: 48px;
}
#content5-f .mbr-section-title {
  font-size: 48px;
}
#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #000000;
}
#msg-box4-8 .mbr-section-title {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-12 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-12 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-1a .mbr-section-title {
  font-size: 32px;
  text-align: left;
}
#content5-1a P {
  text-align: left;
}
#contacts1-10 STRONG {
  color: #000000;
}
#contacts1-10 P {
  color: #000000;
}
#contacts1-10 UL {
  color: #000000;
}
#contacts1-10 DIV {
  color: #000000;
}
#dropdown-menu-2btn-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-r .nav .link,
#dropdown-menu-2btn-r .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-r .navbar,
#dropdown-menu-2btn-r .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-r .dropdown-menu a:hover,
#dropdown-menu-2btn-r .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-r .navbar-toggler {
  color: #000000;
}
#content5-w .mbr-section-title {
  font-size: 36px;
}
#content5-1d .mbr-section-title {
  font-size: 36px;
}
#content5-1e .mbr-section-title {
  font-size: 36px;
}
#contacts1-s STRONG {
  color: #000000;
}
#contacts1-s P {
  color: #000000;
}
#contacts1-s UL {
  color: #000000;
}
#contacts1-s DIV {
  color: #000000;
}
#dropdown-menu-2btn-1f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1f .nav .link,
#dropdown-menu-2btn-1f .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1f .navbar,
#dropdown-menu-2btn-1f .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1f .dropdown-menu a:hover,
#dropdown-menu-2btn-1f .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1f .navbar-toggler {
  color: #000000;
}
#content5-1i .mbr-section-title {
  font-size: 36px;
}
#content5-25 .mbr-section-title {
  font-size: 36px;
}
#content5-23 .mbr-section-title {
  font-size: 36px;
}
#content5-1j .mbr-section-title {
  font-size: 36px;
}
#content5-1k .mbr-section-title {
  font-size: 36px;
}
#content5-2b .mbr-section-title {
  font-size: 36px;
}
#contacts1-1l STRONG {
  color: #000000;
}
#contacts1-1l P {
  color: #000000;
}
#contacts1-1l UL {
  color: #000000;
}
#contacts1-1l DIV {
  color: #000000;
}
#dropdown-menu-2btn-30 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-30 .nav .link,
#dropdown-menu-2btn-30 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-30 .navbar,
#dropdown-menu-2btn-30 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-30 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-30 .dropdown-menu a:hover,
#dropdown-menu-2btn-30 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-30 .navbar-toggler {
  color: #000000;
}
#contacts1-34 STRONG {
  color: #000000;
}
#contacts1-34 P {
  color: #000000;
}
#contacts1-34 UL {
  color: #000000;
}
#contacts1-34 DIV {
  color: #000000;
}
#dropdown-menu-2btn-2f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2f .nav .link,
#dropdown-menu-2btn-2f .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-2f .navbar,
#dropdown-menu-2btn-2f .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-2f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2f .dropdown-menu a:hover,
#dropdown-menu-2btn-2f .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-2f .navbar-toggler {
  color: #000000;
}
#content5-2i .mbr-section-title {
  font-size: 36px;
}
#content5-2j .mbr-section-title {
  font-size: 36px;
}
#content5-2l .mbr-section-title {
  font-size: 36px;
}
#content5-2n .mbr-section-title {
  font-size: 36px;
}
#content5-2o .mbr-section-title {
  font-size: 36px;
}
#content5-2q .mbr-section-title {
  font-size: 36px;
}
#contacts1-2s STRONG {
  color: #000000;
}
#contacts1-2s P {
  color: #000000;
}
#contacts1-2s UL {
  color: #000000;
}
#contacts1-2s DIV {
  color: #000000;
}
#dropdown-menu-2btn-37 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-37 .nav .link,
#dropdown-menu-2btn-37 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-37 .navbar,
#dropdown-menu-2btn-37 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-37 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-37 .dropdown-menu a:hover,
#dropdown-menu-2btn-37 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-37 .navbar-toggler {
  color: #000000;
}
#msg-box3-3g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-3b STRONG {
  color: #000000;
}
#contacts1-3b P {
  color: #000000;
}
#contacts1-3b UL {
  color: #000000;
}
#contacts1-3b DIV {
  color: #000000;
}
