#header2-7 P {
  font-size: 25px;
}
#header2-7 H1 {
  font-size: 48px;
}
#content5-f .mbr-section-title {
  font-size: 48px;
}
#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #000000;
}
#msg-box4-8 .mbr-section-title {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-12 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-12 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-1a .mbr-section-title {
  font-size: 32px;
  text-align: left;
}
#content5-1a P {
  text-align: left;
}
#contacts1-10 STRONG {
  color: #000000;
}
#contacts1-10 P {
  color: #000000;
}
#contacts1-10 UL {
  color: #000000;
}
#contacts1-10 DIV {
  color: #000000;
}
#dropdown-menu-2btn-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-r .nav .link,
#dropdown-menu-2btn-r .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-r .navbar,
#dropdown-menu-2btn-r .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-r .dropdown-menu a:hover,
#dropdown-menu-2btn-r .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-r .navbar-toggler {
  color: #000000;
}
#content5-w .mbr-section-title {
  font-size: 36px;
}
#content5-1d .mbr-section-title {
  font-size: 36px;
}
#content5-1e .mbr-section-title {
  font-size: 36px;
}
#contacts1-s STRONG {
  color: #000000;
}
#contacts1-s P {
  color: #000000;
}
#contacts1-s UL {
  color: #000000;
}
#contacts1-s DIV {
  color: #000000;
}
#dropdown-menu-2btn-1f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1f .nav .link,
#dropdown-menu-2btn-1f .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1f .navbar,
#dropdown-menu-2btn-1f .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1f .dropdown-menu a:hover,
#dropdown-menu-2btn-1f .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1f .navbar-toggler {
  color: #000000;
}
#content5-1i .mbr-section-title {
  font-size: 36px;
}
#content5-1j .mbr-section-title {
  font-size: 36px;
}
#content5-1k .mbr-section-title {
  font-size: 36px;
}
#contacts1-1l STRONG {
  color: #000000;
}
#contacts1-1l P {
  color: #000000;
}
#contacts1-1l UL {
  color: #000000;
}
#contacts1-1l DIV {
  color: #000000;
}
#dropdown-menu-2btn-1n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1n .nav .link,
#dropdown-menu-2btn-1n .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1n .navbar,
#dropdown-menu-2btn-1n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1n .dropdown-menu a:hover,
#dropdown-menu-2btn-1n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1n .navbar-toggler {
  color: #000000;
}
#contacts1-1o STRONG {
  color: #000000;
}
#contacts1-1o P {
  color: #000000;
}
#contacts1-1o UL {
  color: #000000;
}
#contacts1-1o DIV {
  color: #000000;
}
